In [2]:
import pandas as pd

pd.__version__

'2.3.1'

In [157]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [158]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [159]:
df.index

RangeIndex(start=0, stop=9704, step=1)

In [145]:
df.fuel_type.nunique()

2

In [153]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [147]:
df[df["origin"] == "Asia"].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [160]:
df.horsepower.median()

np.float64(149.0)

In [155]:
most_common_value = df.horsepower.value_counts().idxmax()
df.fillna({"horsepower": most_common_value}, inplace=True)

In [156]:
df.horsepower.median()

np.float64(152.0)

In [112]:
df_asia = df[df["origin"] == "Asia"]
df_subset = df_asia[["vehicle_weight","model_year"]][:7]

In [151]:
import numpy as np
X = df_subset.to_numpy()
XTX = X.T.dot(X)
Y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
XTX_inverse = np.linalg.inv(XTX)
W = XTX_inverse.dot(X.T).dot(Y)
W.sum()

np.float64(0.5187709081074016)